<h1>Here's a Brew!</h1>
<p>Name: <%= @brew["name"] %></p>
<p>Style: <%= @brew["style"] %></p>
<p>Hop: <%= @brew["hop"] %></p>
<p>Yeast: <%= @brew["yeast"] %></p>
<p>Malts: <%= @brew["malts"] %></p>
<p>IBU: <%= @brew["ibu"] %></p>
<p>Alcohol: <%= @brew["alcohol"] %></p>
<p>BLG: <%= @brew["blg"] %></p>
<%= link_to "Destroy Brew", "/brews/#{@brew['id']}", method: :delete %>

<div>
  <a href="/brews">Back to All Brews</a>
</div>